<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    {# META FACEBOOK #}
    {% block metafacebook %}
    {% endblock %}

    <title>{% block title '' %} - Philharmonie de Paris</title>
    <meta name="description" content="{% block description '' %}">
    <meta name="author" content="Philharmonie de Paris" />

    <link href="{{ app.asset_path }}img/icons/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <link href="{{ app.asset_path }}img/icons/favicon.png" rel="icon" type="image/png"/>

</head>

    <body id="{% block bodyId '' %}">

        {# HEADER #}
        <header>
            <h1>{% trans %}titre{% endtrans %}</h1>

            {# MENU #}
            {% set route = app.request.attributes.get('_route') %}
            {% set page = app.request.attributes.get('page') %}
            <nav>
                <ul>
                    <li>
                        <a href="{{ path('homepage') }}" class="{% if route == 'homepage' %}selected{% endif %}">Accueil</a>
                    </li>
                    <li>
                        <a href="{{ path('blog') }}" class="{% if route == 'blog' %}selected{% endif %}">Blog</a>
                    </li>
                    <li>
                        <a href="{{ path('page', {'page': app.translator.trans('nav-page')}) }}" class="{% if page == app.translator.trans('nav-page') %}selected{% endif %}">Page</a>
                    </li>
                    <li>
                        <a href="{{ path('email-subscription') }}" class="{% if route == 'email-subscription' %}selected{% endif %}">Inscription</a>
                    </li>
                </ul>
            </nav>

            {# SWITCH LANG #}
            {% if app.request.locale == "fr" %}
                {% if page is not empty %}
                    <a href="{{ path('page', {'_locale': 'en', 'page': pageTrad}) }}" title="English version">English version</a>
                {% else %}
                    <a href="{{ path('homepage', {'_locale': 'en'}) }}" title="English version">English version</a>
                {% endif %}
            {% else %}
                {% if page is not empty %}
                    <a href="{{ path('page', {'_locale': 'fr', 'page': pageTrad}) }}" title="Version française">Version française</a>
                {% else %}
                    <a href="{{ path('homepage', {'_locale': 'fr'}) }}" title="Version française">Version française</a>
                {% endif %}
            {% endif %}
        </header>

        {# MAIN #}
        <main>
            {% block content %}
            {% endblock %}
        </main>

    </body>
</html>
