<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    {# META FACEBOOK #}
    {% block metafacebook %}
    {% endblock %}

    <title>{% block title '' %} - Philharmonie de Paris</title>
    <meta name="description" content="{% block description '' %}">
    <meta name="author" content="Philharmonie de Paris" />

    <link rel="icon" type="image/png" href="" />

</head>

    <body id="{% block bodyId '' %}">

        {# HEADER #}
        <header>
            <h1>{% trans %}titre{% endtrans %}</h1>

            <nav>
                <ul>
                    <li><a href="{{ path('homepage') }}">Accueil</a></li>
                    <li><a href="{{ path('blog') }}">Blog</a></li>
                    <li><a href="{{ path('page', {'page': app.translator.trans('nav-page')}) }}">Page</a></li>
                    <li><a href="{{ path('email-subscription') }}">Inscription</a></li>
                </ul>
            </nav>

            {% if app.request.locale == "fr" %}
                <a href="{{ path('homepage', {'_locale': 'en'}) }}" title="English version">English version</a>
            {% else %}
                <a href="{{ path('homepage', {'_locale': 'fr'}) }}" title="Version française">Version française</a>
            {% endif %}
        </header>

        {# MAIN #}
        <main>
            {% block content %}
            {% endblock %}
        </main>

    </body>
</html>