{% extends "_layout.html.twig" %}
{% block title article.title %}
{% block description article.excerpt %}
{% block bodyId 'article' %}
{% block bodyClass '' %}

{% block content %}

    <article>

        <header>
            <h1>{{ article.title|raw }}</h1>
            <time datetime="{{ article.datePublication|localizeddate }}">{{ article.datePublication|localizeddate("short", "none", null, null, "dd/M/yy") }}</time>
        </header>

        <figure>
            {% if article.image is not empty %}
                <img src="{{ app.request.basepath }}/img/blog/{{ article.image }}" alt="">
            {% endif %}
            {% if article.video is not empty %}
                <video poster="{{ app.request.basepath }}/img/blog/{{ article.imageVideo }}" controls>
                    <source src="{{ app.request.basepath }}/docs/{{ article.video }}.mp4" type="video/mp4 " />
                    <source src="{{ app.request.basepath }}/docs/{{ article.video }}.ogv" type="video/ogg " />
                    <source src="{{ app.request.basepath }}/docs/{{ article.video }}.webm" type="video/webm " />
                    Désolée, votre navigateur ne lit pas les vidéos HTML5
                </video>
            {% endif %}
            {% if article.lienYoutube is not empty %}
                <div class="youtube-video">
                    <iframe width="640" height="360" src="//{{ article.lienyoutube }}" frameborder="0" allowfullscreen></iframe>
                </div>
            {% endif %}
        </figure>

        <section>
            {{ article.content|raw }}
        </section>

    </article>

{% endblock %}
