{% extends "_layout.html.twig" %}
{% block title article.title %}
{% block description article.excerpt %}
{% block bodyId 'article' %}
{% block bodyClass '' %}

{% block content %}

    <article>

        <header>
            <h1>{{ article.title|raw }}</h1>
            <time datetime="{{ article.datePublication|localizeddate("short", "none", "fr", null, "yyyy-M-dd") }}">
                {{ article.datePublication|localizeddate("long", "none", "fr", null, "dd MMMM yyyy") }}
            </time>
        </header>

        <figure>
            {% if article.image is not empty %}
                <img src="{{ app.asset_path }}img/blog/{{ article.image }}" alt="Illustration article">
            {% endif %}
            {% if article.video is not empty %}
                <video poster="{{ app.asset_path }}img/blog/{{ article.imageVideo }}" controls>
                    <source src="{{ app.asset_path }}videos/{{ article.video }}.mp4" type="video/mp4" />
                    <source src="{{ app.asset_path }}videos/{{ article.video }}.ogv" type="video/ogg" />
                    <source src="{{ app.asset_path }}videos/{{ article.video }}.webm" type="video/webm" />
                    Désolée, votre navigateur ne lit pas les vidéos HTML5
                </video>
            {% endif %}
            {% if article.lienYoutube is not empty %}
                <div class="youtube-video">
                    <iframe width="640" height="360" src="{{ article.lienyoutube }}" frameborder="0" allowfullscreen></iframe>
                </div>
            {% endif %}
        </figure>

        <section>
            {{ article.content|raw }}
        </section>

    </article>

{% endblock %}
