{% extends "_layout.html.twig" %}

{% block content %}
    
    {% trans %}titre{% endtrans %}

    {% if articles is empty %}
	   <p>Il n'y a pas encore d'articles mis en avant sur la home</p>
    {% else %}
        <ul>
        {% for art in articles %}
            <li>
                <h1>{{ art.title }}</h1>      
                <p>{{ art.datePublication|localizeddate("short", "none", null, null, "dd/M/yy") }}</p>
                
                {% if art.image is not empty %}
                    <img src="{{ app.request.basepath }}/img/blog/{{ art.image }}" alt="">
                {% endif %}
                {% if art.video is not empty %}
                    <video src=""></video>
                {% endif %}
                
                <p>{{ art.excerpt }}</p>
                <p><a href="{{ path('article', {slug: art.slug}) }}">Lire la suite</a></p>
            </li>
        {% endfor %}
        </ul>
    {% endif %}

{% endblock %}